<?xml version="1.0" ?>
<robot name="house_7" version="1.0">
  <link name="house_7"/>
  <joint name="Bed_2_0_0_joint" type="fixed">
    <origin xyz="9.060633848190307 -1.526103170014596 0.45509809255599976" rpy="0.0 0.0 -1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="Bed_2_0_0"/>
  </joint>
  <link name="Bed_2_0_0">
    <visual name="SM_Bed_2_0_0_Bed_1_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshBed_1_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Bed_2_0_0_Bed_1_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/BedMattress_1_BedMattress_1_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Bed_2_0_0_Bed_1_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/BedsheetUnmade_1_BedsheetUnmade_1_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Pillow_2_0_1_joint" type="fixed">
    <origin xyz="9.72747633087635 -1.5261031700145962 0.9710858725011349" rpy="0.0 0.0 -1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="Pillow_2_0_1"/>
  </joint>
  <link name="Pillow_2_0_1">
    <visual name="SM_Pillow_2_0_1_pillow_13_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshPillow_13_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Dresser_2_1_joint" type="fixed">
    <origin xyz="9.899331013441085 -9.496475348949431 0.35076457262039185" rpy="0.0 0.0 -1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="Dresser_2_1"/>
  </joint>
  <link name="Dresser_2_1">
    <visual name="SM_Dresser_2_1_Dresser_229_1_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/DrawermeshDresserDrawer_229_1_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Dresser_2_1_Dresser_229_1_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDresser_229_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Dresser_2_1_Dresser_229_1_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/DrawermeshDresserDrawer_229_3_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Dresser_2_1_Dresser_229_1_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/DrawermeshDresserDrawer_229_4_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Dresser_2_1_Dresser_229_1_4">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/DrawermeshDresserDrawer_229_2_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Statue_2_1_joint" type="fixed">
    <origin xyz="9.898834228515625 -9.34598445892334 0.9235716938972474" rpy="0.0 0.0 -4.172324565843155e-07"/>
    <parent link="house_7"/>
    <child link="Statue_2_1"/>
  </joint>
  <link name="Statue_2_1">
    <visual name="SM_Statue_2_1_Fertility_Statue_2_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshFertilityStatue_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Statue_2_1_Fertility_Statue_2_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshFertilityStatue_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="AlarmClock_2_3_joint" type="fixed">
    <origin xyz="9.785916328430176 -9.654369354248047 0.17360451817512512" rpy="0.0 0.0 -1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="AlarmClock_2_3"/>
  </joint>
  <link name="AlarmClock_2_3">
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClock_11_AlarmClock_11_0_GeomSubset_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClockButton_11_AlarmClockButton_11_1_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClock_11_AlarmClock_11_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClockHandHour_11_AlarmClockHandHour_11_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_4">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClock_11_AlarmClock_11_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_5">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClockButton_11_AlarmClockButton_11_1_GeomSubset_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_6">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClockButton_11_AlarmClockButton_11_1_GeomSubset_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_7">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClockButton_11_AlarmClockButton_11_1_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_8">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClock_11_AlarmClock_11_0_GeomSubset_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_9">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClockButton_11_AlarmClockButton_11_1_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_10">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClock_11_AlarmClock_11_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_AlarmClock_2_3_Alarm_Clock_11_11">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/AlarmClockHandMinute_11_AlarmClockHandMinute_11_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="ArmChair_2_2_0_joint" type="fixed">
    <origin xyz="9.65250204014778 -3.133908659328308 0.4085939824581146" rpy="0.0 0.0 -1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="ArmChair_2_2_0"/>
  </joint>
  <link name="ArmChair_2_2_0">
    <visual name="SM_ArmChair_2_2_0_Armchair_208_3_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/Fp208_Armchair3Armchair_208_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_ArmChair_2_2_0_Armchair_208_3_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/Fp208_Armchair3Armchair_208_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_ArmChair_2_2_0_Armchair_208_3_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/Fp208_Armchair3Armchair_208_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="FloorLamp_2_2_1_joint" type="fixed">
    <origin xyz="9.65250204014778 -4.102329168314989 0.8828924894332886" rpy="0.0 0.0 1.0034970045089722"/>
    <parent link="house_7"/>
    <child link="FloorLamp_2_2_1"/>
  </joint>
  <link name="FloorLamp_2_2_1">
    <visual name="SM_FloorLamp_2_2_1_Floor_Lamp_19_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshFloorLamp_19_0_GeomSubset_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_FloorLamp_2_2_1_Floor_Lamp_19_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshFloorLamp_19_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_FloorLamp_2_2_1_Floor_Lamp_19_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshFloorLamp_19_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_FloorLamp_2_2_1_Floor_Lamp_19_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshFloorLamp_19_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="DiningTable_2_3_0_joint" type="fixed">
    <origin xyz="7.119243945176458 -4.837872461077097 0.39023110270500183" rpy="0.0 0.0 -1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="DiningTable_2_3_0"/>
  </joint>
  <link name="DiningTable_2_3_0">
    <visual name="SM_DiningTable_2_3_0_Dining_Table_208_1_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/TablemeshDiningTable_208_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_DiningTable_2_3_0_Dining_Table_208_1_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/TablemeshDiningTable_208_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Vase_2_0_joint" type="fixed">
    <origin xyz="7.490043640136719 -4.837872505187988 0.9797314882278443" rpy="0.0 0.0 -1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="Vase_2_0"/>
  </joint>
  <link name="Vase_2_0">
    <visual name="SM_Vase_2_0_Vase_Tall_4_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshVaseTall_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="CD_2_2_joint" type="fixed">
    <origin xyz="7.2428436279296875 -4.172109603881836 0.7872632145881653" rpy="0.0 0.0 -1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="CD_2_2"/>
  </joint>
  <link name="CD_2_2"/>
  <joint name="Chair_2_3_1_joint" type="fixed">
    <origin xyz="6.5253925219129085 -4.837872461077097 0.4184993803501129" rpy="0.0 0.0 1.9603376388549805"/>
    <parent link="house_7"/>
    <child link="Chair_2_3_1"/>
  </joint>
  <link name="Chair_2_3_1">
    <visual name="SM_Chair_2_3_1_Chair_204_1_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/ChairmeshChair_204_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Chair_2_3_1_Chair_204_1_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/ChairmeshChair_204_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Chair_2_3_2_joint" type="fixed">
    <origin xyz="7.119243945176459 -3.788311344381693 0.4184993803501129" rpy="0.0 0.0 0.02918974682688713"/>
    <parent link="house_7"/>
    <child link="Chair_2_3_2"/>
  </joint>
  <link name="Chair_2_3_2">
    <visual name="SM_Chair_2_3_2_Chair_204_1_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/ChairmeshChair_204_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Chair_2_3_2_Chair_204_1_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/ChairmeshChair_204_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Chair_2_3_3_joint" type="fixed">
    <origin xyz="7.713095368440008 -4.837872461077097 0.4184993803501129" rpy="0.0 0.0 -1.8675552606582642"/>
    <parent link="house_7"/>
    <child link="Chair_2_3_3"/>
  </joint>
  <link name="Chair_2_3_3">
    <visual name="SM_Chair_2_3_3_Chair_204_1_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/ChairmeshChair_204_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Chair_2_3_3_Chair_204_1_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/ChairmeshChair_204_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Toilet_3_0_joint" type="fixed">
    <origin xyz="2.5364336252212523 -7.808257953405381 0.5189565420150757" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="Toilet_3_0"/>
  </joint>
  <link name="Toilet_3_0">
    <visual name="SM_Toilet_3_0_Toilet_1_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/Fp401_ToiletlidmeshFp401_Toiletlid_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Toilet_3_0_Toilet_1_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshFp401_Toiletbody_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="ToiletPaper_3_4_joint" type="fixed">
    <origin xyz="2.199458599090576 -7.608257293701172 1.1051270961761475" rpy="0.0 0.0 1.5707991123199463"/>
    <parent link="house_7"/>
    <child link="ToiletPaper_3_4"/>
  </joint>
  <link name="ToiletPaper_3_4">
    <visual name="SM_ToiletPaper_3_4_Toilet_Paper_Used_Up_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/PaperToiletpaper_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_ToiletPaper_3_4_Toilet_Paper_Used_Up_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/RollRoll_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Sink_3_1_0_joint" type="fixed">
    <origin xyz="0.3387441873550415 -5.682020043373107 0.5097440481185913" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="Sink_3_1_0"/>
  </joint>
  <link name="Sink_3_1_0">
    <visual name="SM_Sink_3_1_0_Sink_15_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshPsSinkbasin_15_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Sink_3_1_0_Sink_15_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/Sink_15_Sink_15_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Sink_3_1_0_Sink_15_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/Sink_15_Sink_15_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Sink_3_1_0_Sink_15_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/Sink_15_Sink_15_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Faucet_3_1_1_joint" type="fixed">
    <origin xyz="0.13770799964666358 -5.682020043373107 1.1218344196677208" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="Faucet_3_1_1"/>
  </joint>
  <link name="Faucet_3_1_1">
    <visual name="SM_Faucet_3_1_1_Bathroom_Faucet_27_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/SinkFaucetKnob_19_SinkFaucetKnob_19_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Faucet_3_1_1_Bathroom_Faucet_27_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshSinkFaucet_19_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Plunger_3_2_joint" type="fixed">
    <origin xyz="0.0991485059261322 -0.09900321960449218 0.2696691155433655" rpy="0.0 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Plunger_3_2"/>
  </joint>
  <link name="Plunger_3_2">
    <visual name="SM_Plunger_3_2_Plunger_3_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshPlunger_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Plunger_3_2_Plunger_3_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshPlunger_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Door_0_joint" type="fixed">
    <origin xyz="4.049 -2.242056729709356 1.037670373916626" rpy="0.0 0.0 -1.5707963705062866"/>
    <parent link="house_7"/>
    <child link="Door_0"/>
  </joint>
  <link name="Door_0">
    <visual name="SM_Door_0_Doorway_Double_9_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayDouble_9_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_9_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayHandle_9_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_9_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayDoor_9_2_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_9_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayDoor_9_2_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_9_4">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayHandle_9_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_9_5">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayDoor_9_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_9_6">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayDoor_9_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Door_1_joint" type="fixed">
    <origin xyz="8.636131362367818 0.0 1.0651136636734009" rpy="0.0 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Door_1"/>
  </joint>
  <link name="Door_1">
    <visual name="SM_Door_1_Doorway_Double_1_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayDoor_1_1_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_1_Doorway_Double_1_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayHandle_1_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_1_Doorway_Double_1_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayDoor_1_1_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_1_Doorway_Double_1_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayDouble_1_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_1_Doorway_Double_1_4">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayHandle_1_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_1_Doorway_Double_1_5">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayDoor_1_3_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_1_Doorway_Double_1_6">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/obj/MeshDoorwayDoor_1_3_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_0_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Wall_0"/>
  </joint>
  <link name="Wall_0">
    <visual name="Wall_0_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_0_0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_0_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_0_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_0_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_0_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_1_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Wall_1"/>
  </joint>
  <link name="Wall_1">
    <visual name="Wall_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_2_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Wall_2"/>
  </joint>
  <link name="Wall_2">
    <visual name="Wall_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_3_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Wall_3"/>
  </joint>
  <link name="Wall_3">
    <visual name="Wall_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_3.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_4_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Wall_4"/>
  </joint>
  <link name="Wall_4">
    <visual name="Wall_4">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_5_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Wall_5"/>
  </joint>
  <link name="Wall_5">
    <visual name="Wall_5_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_5_0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_5_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_5_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_5_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_5_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_6_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Wall_6"/>
  </joint>
  <link name="Wall_6">
    <visual name="Wall_6">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_6.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_7_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Wall_7"/>
  </joint>
  <link name="Wall_7">
    <visual name="Wall_7">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_7.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_8_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Wall_8"/>
  </joint>
  <link name="Wall_8">
    <visual name="Wall_8">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_8.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_10_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Wall_10"/>
  </joint>
  <link name="Wall_10">
    <visual name="Wall_10">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_10.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_11_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_7"/>
    <child link="Wall_11"/>
  </joint>
  <link name="Wall_11">
    <visual name="Wall_11">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_7/meshes/stl/Wall_11.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>