<?xml version="1.0" ?>
<robot name="house_0" version="1.0">
  <link name="house_0"/>
  <joint name="GarbageBag_6_0_joint" type="fixed">
    <origin xyz="9.71460348890676 -8.108097110075853 0.2789691686630249" rpy="0.0 0.0 -1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="GarbageBag_6_0"/>
  </joint>
  <link name="GarbageBag_6_0">
    <visual name="SM_GarbageBag_6_0_GarbageBag_21_1_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshSphere_037_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="RoboTHOR_dining_table_extendable_7_0_0_joint" type="fixed">
    <origin xyz="4.8331570448033805 -2.193597151084484 0.3721551299095154" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="RoboTHOR_dining_table_extendable_7_0_0"/>
  </joint>
  <link name="RoboTHOR_dining_table_extendable_7_0_0">
    <visual name="SM_RoboTHOR_dining_table_extendable_7_0_0_RoboTHOR_dining_table_extendable_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshRobothorDiningTableExtendable_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Statue_7_0_joint" type="fixed">
    <origin xyz="4.950560569763184 -2.410980224609375 0.969881820678711" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="Statue_7_0"/>
  </joint>
  <link name="Statue_7_0">
    <visual name="SM_Statue_7_0_Fertility_Statue_1_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshFertilityStatue_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Statue_7_0_Fertility_Statue_1_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshFertilityStatue_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Newspaper_7_1_joint" type="fixed">
    <origin xyz="4.712340354919434 -2.416365146636963 0.7680763602256775" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="Newspaper_7_1"/>
  </joint>
  <link name="Newspaper_7_1">
    <visual name="SM_Newspaper_7_1_Newspaper_3_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshCylinder_042_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="KeyChain_7_2_joint" type="fixed">
    <origin xyz="4.469817161560059 -2.650045156478882 0.753562331199646" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="KeyChain_7_2"/>
  </joint>
  <link name="KeyChain_7_2">
    <visual name="SM_KeyChain_7_2_Keychain_3_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshKeychain3_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_KeyChain_7_2_Keychain_3_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshKeychain3_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_KeyChain_7_2_Keychain_3_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshKeychain3_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_KeyChain_7_2_Keychain_3_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshKeychain3_0_GeomSubset_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_KeyChain_7_2_Keychain_3_4">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshKeychain3_0_GeomSubset_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Pencil_7_3_joint" type="fixed">
    <origin xyz="4.83723258972168 -2.843015670776367 0.755282461643219" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="Pencil_7_3"/>
  </joint>
  <link name="Pencil_7_3">
    <visual name="SM_Pencil_7_3_RoboTHOR_pencil_amazon_basics_v_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshRobothorPencil_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Box_7_4_joint" type="fixed">
    <origin xyz="4.523594379425049 -2.412061929702759 0.8610948920249939" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="Box_7_4"/>
  </joint>
  <link name="Box_7_4">
    <visual name="SM_Box_7_4_Box_20_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshBox_20_FlapInner_2_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Box_7_4_Box_20_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshBox_20_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Box_7_4_Box_20_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshBox_20_FlapInner_1_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Box_7_4_Box_20_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshBox_20_FlapOuter_2_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Box_7_4_Box_20_4">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshBox_20_FlapOuter_1_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="DeskLamp_7_5_joint" type="fixed">
    <origin xyz="4.951040744781494 -2.1957879066467285 0.950289249420166" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="DeskLamp_7_5"/>
  </joint>
  <link name="DeskLamp_7_5">
    <visual name="SM_DeskLamp_7_5_Desk_Lamp_2_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDeskLamp_2_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_DeskLamp_7_5_Desk_Lamp_2_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDeskLamp_2_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_DeskLamp_7_5_Desk_Lamp_2_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDeskLamp_2_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_DeskLamp_7_5_Desk_Lamp_2_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDeskLamp_2_0_GeomSubset_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Chair_202_7_0_1_joint" type="fixed">
    <origin xyz="5.396248895084142 -2.193597151084484 0.4374691843986511" rpy="0.0 0.0 -1.9595856666564941"/>
    <parent link="house_0"/>
    <child link="Chair_202_7_0_1"/>
  </joint>
  <link name="Chair_202_7_0_1">
    <visual name="SM_Chair_202_7_0_1_Chair_205_2_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/ChairmeshChair_2_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Chair_202_7_0_1_Chair_205_2_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/ChairmeshChair_2_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Chair_202_7_0_1_Chair_205_2_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/ChairmeshChair_2_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Chair_202_7_0_2_joint" type="fixed">
    <origin xyz="4.270065194522619 -2.193597151084484 0.4374691843986511" rpy="0.0 0.0 1.3974859714508057"/>
    <parent link="house_0"/>
    <child link="Chair_202_7_0_2"/>
  </joint>
  <link name="Chair_202_7_0_2">
    <visual name="SM_Chair_202_7_0_2_Chair_205_2_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/ChairmeshChair_2_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Chair_202_7_0_2_Chair_205_2_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/ChairmeshChair_2_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Chair_202_7_0_2_Chair_205_2_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/ChairmeshChair_2_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Cart_7_1_joint" type="fixed">
    <origin xyz="2.5051512619711036 -1.9460317564181482 0.6413500308990479" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="Cart_7_1"/>
  </joint>
  <link name="Cart_7_1">
    <visual name="SM_Cart_7_1_Cart_1_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/CartmeshFp401_Cube_050_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_Decor_Photo_1V_7_2_joint" type="fixed">
    <origin xyz="2.127870485454798 -2.9794910780329413 1.5846813038486098" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="Wall_Decor_Photo_1V_7_2"/>
  </joint>
  <link name="Wall_Decor_Photo_1V_7_2">
    <visual name="SM_Wall_Decor_Photo_1V_7_2_Wall_Decor_Photo_1V_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshRobothorWallDecor_4_3_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Wall_Decor_Photo_1V_7_2_Wall_Decor_Photo_1V_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshRobothorWallDecor_4_3_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Wall_Decor_Photo_1V_7_2_Wall_Decor_Photo_1V_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshRobothorWallDecor_4_3_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_Decor_Photo_3V_7_3_joint" type="fixed">
    <origin xyz="5.749929129003503 -4.192129514545202 1.307527921320115" rpy="0.0 0.0 3.1415927410125732"/>
    <parent link="house_0"/>
    <child link="Wall_Decor_Photo_3V_7_3"/>
  </joint>
  <link name="Wall_Decor_Photo_3V_7_3">
    <visual name="SM_Wall_Decor_Photo_3V_7_3_Wall_Decor_Photo_3V_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshRobothorWallDecorPoster_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Wall_Decor_Photo_3V_7_3_Wall_Decor_Photo_3V_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshRobothorWallDecorPoster_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Wall_Decor_Photo_3V_7_3_Wall_Decor_Photo_3V_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshRobothorWallDecorPoster_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_Decor_Photo_2_6_2_joint" type="fixed">
    <origin xyz="8.978597384149234 -8.406129514545201 1.4181788399229123" rpy="0.0 0.0 3.1415927410125732"/>
    <parent link="house_0"/>
    <child link="Wall_Decor_Photo_2_6_2"/>
  </joint>
  <link name="Wall_Decor_Photo_2_6_2">
    <visual name="SM_Wall_Decor_Photo_2_6_2_Wall_Decor_Photo_2_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshRobothorWallDecorPoster_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Wall_Decor_Photo_2_6_2_Wall_Decor_Photo_2_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshRobothorWallDecorPoster_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Wall_Decor_Photo_2_6_2_Wall_Decor_Photo_2_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshRobothorWallDecorPoster_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Window_0_joint" type="fixed">
    <origin xyz="5.305958660769427 0.0 1.4895365574179127" rpy="0.0 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Window_0"/>
  </joint>
  <link name="Window_0">
    <visual name="SM_Window_0_Window_Fixed_60_X_72_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshWindowFixed_60X72_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Window_0_Window_Fixed_60_X_72_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshWindowFixed_60X72_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Window_1_joint" type="fixed">
    <origin xyz="9.139613119799348 -4.213 1.4916938879309132" rpy="0.0 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Window_1"/>
  </joint>
  <link name="Window_1">
    <visual name="SM_Window_1_Window_Fixed_60_X_36_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshWindowFixed_60X36_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Window_1_Window_Fixed_60_X_36_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshWindowFixed_60X36_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Window_2_joint" type="fixed">
    <origin xyz="10.533 -7.079438385901868 1.4904650785742237" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="Window_2"/>
  </joint>
  <link name="Window_2">
    <visual name="SM_Window_2_Window_Hung_48_X_24_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshWindowHung_48X24_0_GeomSubset_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Window_2_Window_Hung_48_X_24_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshWindowHung_48X24_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Window_2_Window_Hung_48_X_24_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshWindowHung_48X24_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Door_0_joint" type="fixed">
    <origin xyz="3.278197027771757 -4.213 1.0364102125167847" rpy="0.0 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Door_0"/>
  </joint>
  <link name="Door_0">
    <visual name="SM_Door_0_Doorway_Double_2_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayDoor_2_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_2_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayDoor_2_2_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_2_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayHandle_2_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_2_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayDoor_2_2_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_2_4">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayDoor_2_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_2_5">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayHandle_2_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_0_Doorway_Double_2_6">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayDouble_2_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Door_1_joint" type="fixed">
    <origin xyz="2.107 -4.8826762194656315 1.0517940521240234" rpy="0.0 0.0 -1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="Door_1"/>
  </joint>
  <link name="Door_1">
    <visual name="SM_Door_1_Doorway_4_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayDoor_4_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_1_Doorway_4_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayDoor_4_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_1_Doorway_4_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorway_4_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_1_Doorway_4_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayHandle_4_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Door_2_joint" type="fixed">
    <origin xyz="6.32 -2.909392903959575 1.05002281954512" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_0"/>
    <child link="Door_2"/>
  </joint>
  <link name="Door_2">
    <visual name="SM_Door_2_Doorway_10_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorway_10_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_2_Doorway_10_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayDoor_10_0_GeomSubset_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_2_Doorway_10_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayHandle_10_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="SM_Door_2_Doorway_10_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/obj/MeshDoorwayDoor_10_0_GeomSubset_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_0_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_0"/>
  </joint>
  <link name="Wall_0">
    <visual name="Wall_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_1_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_1"/>
  </joint>
  <link name="Wall_1">
    <visual name="Wall_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_2_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_2"/>
  </joint>
  <link name="Wall_2">
    <visual name="Wall_2_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_2_0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_2_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_2_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_2_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_2_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_3_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_3"/>
  </joint>
  <link name="Wall_3">
    <visual name="Wall_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_3.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_4_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_4"/>
  </joint>
  <link name="Wall_4">
    <visual name="Wall_4">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_4.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_5_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_5"/>
  </joint>
  <link name="Wall_5">
    <visual name="Wall_5">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_5.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_6_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_6"/>
  </joint>
  <link name="Wall_6">
    <visual name="Wall_6">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_6.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_7_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_7"/>
  </joint>
  <link name="Wall_7">
    <visual name="Wall_7">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_7.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_8_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_8"/>
  </joint>
  <link name="Wall_8">
    <visual name="Wall_8_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_8_0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_8_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_8_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_8_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_8_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_8_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_8_3.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_9_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_9"/>
  </joint>
  <link name="Wall_9">
    <visual name="Wall_9_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_9_0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_9_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_9_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_9_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_9_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_9_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_9_3.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_10_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_10"/>
  </joint>
  <link name="Wall_10">
    <visual name="Wall_10_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_10_0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_10_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_10_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_10_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_10_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_11_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_11"/>
  </joint>
  <link name="Wall_11">
    <visual name="Wall_11_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_11_0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_11_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_11_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_11_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_11_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_12_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_0"/>
    <child link="Wall_12"/>
  </joint>
  <link name="Wall_12">
    <visual name="Wall_12_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_12_0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_12_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_12_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_12_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_12_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_12_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_0/meshes/stl/Wall_12_3.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>